<mj-section background-color="#4B6AF8">
  <mj-column>
    <mj-text mj-class="emoji">
     🔔
    </mj-text>
    <mj-text mj-class="text-presentation">
      New notification
    </mj-text>
  </mj-column>
</mj-section>
<mj-section mj-class="message-container">
  <mj-column>
    <mj-text mj-class="text">
      Hi <span style="font-weight:bold"><%= @target.first_name %></span>!<br><br>
    </mj-text>
    <mj-text mj-class="text">
      Your request to join <a href="<%= Rails.configuration.frontend_url %>/<%= @object.class.name.downcase.singularize %>/<%= @object.id %>" style="color:#4B6AF8!important"><%= @object.title %></a> is pending.
    </mj-text>
  </mj-column>
</mj-section>
