<mj-section background-color="#4B6AF8">
  <mj-column>
    <mj-text mj-class="emoji">
     🔔
    </mj-text>
    <mj-text mj-class="text-presentation">
      New notification
    </mj-text>
  </mj-column>
</mj-section>
<mj-section mj-class="message-container">
  <mj-column>
    <mj-text mj-class="text">
      Hi <span style="font-weight:bold"><%= @target.first_name %></span>!<br><br>
    </mj-text>
    <mj-text mj-class="text">
        The project <a href="<%= Rails.configuration.frontend_url %>/project/<%= @object.id %>" style="color:#4B6AF8!important"><%= @object.title %></a>
         has applied to join your challenge <a href="<%= Rails.configuration.frontend_url %>/challenge/<%= @notification.metadata[:challenge_short_title] %>" style="color:#4B6AF8!important"><%= @notification.metadata[:challenge_title] %></a>
    </mj-text>
    <mj-button
      mj-class="button"
      href="<%= Rails.configuration.frontend_url %>/challenge/<%= @notification.metadata[:challenge_short_title] %>/edit?t=projects">
      <span style="padding-left:20px; padding-right:20px">Accept it or reject it!</span>
    </mj-button>
  </mj-column>
</mj-section>
