<mj-section background-color="#FFFFFF">
  <mj-column width="100%">
    <mj-text
      align="left"
      color="#4a4a4a"
      font-family="'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif"
      font-size="15px"
      font-weight="regular"
      line-height="17px"
      letter-spacing="0.35px"
      padding-left="30px"
      padding-right="30px"
      >
      We believe these projects could use your help. Have a look at them and don't hesitate to leave a comment.
    </mj-text>
    <mj-text
      align="left"
      color="#4a4a4a"
      font-family="'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif"
      font-weight="regular"
      font-size="15px"
      line-height="17px"
      letter-spacing="0.35px"
      padding-left="30px"
      padding-right="30px"
      >
      <span style="font-weight:bold;">This is a new JOGL beta feature</span>. These recommendations are based on your profile and interactions on the JOGL platform and also highlight recent needs expressed on the platform.
    </mj-text>
  </mj-column>
</mj-section>

<% @needs.zip(@scores).each do |need, score| %>
  <mj-section background-color="#FFFFFF">
    <mj-column  width="65%"
                border-radius="13px"
                background-color="#FFFFFF"
                css-class="card-shadow"
                >
      <!-- PICTURE -->
      <mj-image src="<%= need.project.logo_url.presence || need.project.banner_url.presence || 'https://jogl-backend.herokuapp.com/assets/default-project.jpg' %>"
                alt="Project Logo"
                align="center"
                fluid-on-mobile="true"
                padding-left="20%"
                padding-right="20%"
                >
      </mj-image>
      <!-- END PICTURE -->
      <mj-text
        align="center"
        font-family="Roboto Medium, 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif"
        font-size="15px"
        line-height="20px"
        font-weight= "bold"
        letter-spacing="0.18px"
        color="#000000"
        text-transform="uppercase"
        >
        <%= sanitize(need.project.title) %>
      </mj-text>

      <mj-text
        align="left"
        font-family="'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif"
        font-size="15px"
        font-weight= "bold"
        letter-spacing="0.24px"
        color="#000000"
        padding="30px 20px 10px 20px"
        >
        What we do
      </mj-text>

      <mj-text
        align="left"
        font-family="'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif"
        font-size="15px"
        font-weight="light"
        line-height="18px"
        letter-spacing="0.24px"
        color="#4A4A4A"
        padding="10px 20px"
        >
      <%= sanitize(need.project.short_description) %>
      </mj-text>

      <% unless need.city.nil? && need.country.nil? %>
        <mj-text
          align="left"
          font-family="'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif"
          font-size="15px"
          font-weight= "bold"
          letter-spacing="0.24px"
          color="#000000"
          padding="30px 20px 10px 20px"
          >
          Where we are
        </mj-text>

        <mj-text
          align="left"
          font-family="'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif"
          font-size="15px"
          font-weight="light"
          line-height="18px"
          letter-spacing="0.24px"
          color="#4A4A4A"
          padding="10px 20px"
          >
          <%= location(need)%>
        </mj-text>
      <% end %>

      <mj-text
        align="left"
        font-family="'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif"
        font-size="15px"
        font-weight= "bold"
        letter-spacing="0.24px"
        color="#000000"
        padding="30px 20px 10px 20px"
        >
        What we need
      </mj-text>
      <mj-text
        align="left"
        font-family="'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif"
        font-size="15px"
        font-weight="light"
        line-height="18px"
        letter-spacing="0.24px"
        color="#4A4A4A"
        padding="10px 20px"
        text-transform="uppercase"
        >
        <%= sanitize(need.title)%>
      </mj-text>
      <mj-text
        align="left"
        font-family="'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif"
        font-size="15px"
        font-weight="light"
        line-height="18px"
        letter-spacing="0.24px"
        color="#4A4A4A"
        padding="10px 20px"
        >
        <%= sanitize(need.content)%>
      </mj-text>

      <mj-text
        align="left"
        font-family="'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif"
        font-size="15px"
        font-weight= "bold"
        letter-spacing="0.24px"
        color="#000000"
        padding="30px 20px 10px 20px"
        >
        What we're looking for
      </mj-text>

      <mj-text
        align="center"
        padding="10px"
        font-size="15px"
        font-weight="light"
        line-height="35px"
        color="#4A4A4A"
        container-background-color="#F4F4F4"
        >
        <% need.skills.take(3).each do |skill| %>
          <%= sanitize(skill.skill_name) %><br/>
        <% end %>
      </mj-text>

      <!-- TODO Check the Link address -->

      <mj-button align="center"
                background-color="#2A6BFD"
                color="#FFFFFF"
                padding="30px 20px"
                border-radius="8px"
                font-size="15px"
                text-decoration="none"
                text-transform="uppercase"
                target="_blank"
                href="<%= Rails.configuration.frontend_url %>/need/<%= need.id %>?utm_source=recsys&utm_medium=email&utm_campaign=[<%= @campaign_id %>,<%= @to.id %>,<%= score %>]">
                Read more
      </mj-button>
    </mj-column>
  </mj-section>
<% end %>
